<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <connectionStrings>
        <add name="connStr" connectionString="Data Source=172.18.4.13;Initial Catalog=jsks;Persist Security Info=True;User ID=sa;Password=q1w2E#R$" />
    </connectionStrings>
</configuration>
